$gray500: #999;

// ------- Select styles -------
.actions-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 36px;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  border: 2px solid $gray500;
  min-height: 44px;
}

.badges-wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.25rem;
  border-right: 1px solid $gray500;
}

.search-input-wrapper {
  padding-block: 0.25rem;
  align-self: end;

  [type="text"] {
    height: 100%;
    width: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $gray500;

    &:focus-visible {
      outline-color: $gray500;
    }
  }
}

.caret-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  border-left: 1px solid $gray500;

  button {
    transform: translateY(10px);
  }
}

.options-wrapper {
  position: relative;
  z-index: 3;
  background-color: #fff;
  transform: translateY(6px);
  overflow: hidden auto;
  border-radius: var(--border-radius);
  border: 2px solid $gray500;
  height: 320px;

  ul,
  .feedback-wrapper {
    height: 100%;
  }
}

.feedback-wrapper {
  display: grid;
  place-items: center;
}

// ------- SelectOption styles -------
.option-wrapper {
  display: grid;
  grid-template-columns: 24px 56px 1fr;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  border-bottom: 2px solid $gray500;

  img {
    border-radius: 8px;
    height: 56px;

    @supports (aspect-ratio: 1) {
      aspect-ratio: 1;
    }

    @supports not (aspect-ratio: 1) {
      width: 56px;
    }
  }

  :last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span:first-of-type {
      color: #000;
    }

    span:last-of-type {
      color: $gray500;
    }
  }
}
