:root {
  --border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[type="checkbox"] {
  cursor: pointer;
}
